body{
    background-color: #484848;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: rgb(239,235,228);
    text-shadow: 1px 1px 2px rgb(239,235,228);
}

section{
    background-color: #bbbbbb;
    color: #484848;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    margin: auto;
}

#botoes {
    display: grid;
    grid-auto-flow: column;
}

input {
    background-color: rgb(12,112,242);
    color: rgb(239,235,228);
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
